body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    padding: 30px;
}

main {
    margin-top: 45px;
    text-align: center;
}

h1  {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
}

#mainTitle {
    font-size: 1.5rem;
}

h1 + p {
    font-size: 1.5rem;
}

button {
    padding: 12px;
    background: dodgerblue;
    color: #ffffffc2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.2s;
}

.content {
    padding: 20px;
}

#modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    overflow-y: scroll;
}

.clickable {
    cursor: pointer;
}

.timezones-list > .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 20px 0;
}

.timezone {
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

small {
    font-size: 1.2rem;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
}

.card2 {
    background: #0a0a23;
    color: #fff;
}

@media (max-width:980px) {
    h1 {
        font-size: 4rem;
    }
    #mainTitle, h1 + p {
        font-size: 1rem;
    }
}